@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Role List";
    Layout = "~/Views/Shared/_LayoutRoot.cshtml";
}

<div class="col-md-10">
          <div class="col-9 ml-1 mt-5">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Category List</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-head-fixed text-nowrap">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Role Name</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    @foreach (var item in Model)
                   {
                    <tr>
                      <td>@item.Id</td>
                      <td>@item.Name</td>
                      <td>
                        <a asp-controller="Root" asp-action="RoleEdit" asp-route-id="@item.Id"><button class="btn btn-success">Edit</button></a>
                        <form asp-controller="root" asp-action="RoleDelete">
                           <input type="hidden" name="id" value="@item.Id">
                           <button type="submit" class="btn btn-danger">Delete</button>
                         </form>
                       </td>
                    </tr>
                   }
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
